@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Playwrite+DE+Grund+Guides&family=Playwrite+US+Modern:wght@100..400&family=Style+Script&display=swap');

.stylefont {
  font-family: "Style Script", cursive;
  font-weight: 900;
  font-style: normal;
}
.playwrite {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 500;
  font-style: normal;
}
.pricefont {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playwrites{
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* smooth */
/* CSS */
.float-wrap { display: inline-block; will-change: transform; }
.float {
  display: block;
  transform: translate3d(0,0,0); /* GPU accel */
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0%   { transform: translate3d(0, 0, 0); }
  50%  { transform: translate3d(0, -10px, 0) rotate(-0.5deg); }
  100% { transform: translate3d(0, 0, 0); }
}

/* accessibility: stop animation if user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  .float { animation: none; }
}